<nav>
    <a href="/"><img class="logo pull-left hidden-xs" src="http://placehold.it/300x100?text=build.it" alt="build.it logo" /></a>
    <a href="/"><img class="logo pull-left visible-xs" src="http://placehold.it/100x100?text=build.it" alt="build.it logo" /></a>
    <ul class="navigation-links pull-left hidden-xs hidden-sm">
        <li><a href="/" class="navigation-link home-link -current">Home</a></li>
        <li><a href="/products" class="navigation-link products-link">Products</a></li>
        <li><a href="/orders" class="navigation-link orders-link">Orders</a></li>
    </ul>
    <div class="simple-navigation hidden-md hidden-lg">
        <i class="fa fa-bars fa-2x menu pull-right"></i>
        <button class="button category -primary pull-right" id="category-button">Categories</button>
    </div>
    <div class="utility-navigation hidden-xs-inline hidden-sm-inline">
        <button class="button -primary pull-right">Sign up</button>
        <button class="button -primary pull-right">Login</button>
    </div>
</nav>