<nav>
    <div class="navigation-links pull-left">
        <a href="/" class="navigation-link home-link {{#isEqual active 'home'}}-active{{/isEqual}}">ORDERFY</a>
        <a href="/products" class="navigation-link products-link {{#isEqual active 'products'}}-active{{/isEqual}} -{{active}}">PRODUCTS</a>
        <a href="/orders" class="navigation-link orders-link {{#isEqual active 'orders'}}-active{{/isEqual}}">ORDERS</a>
    </div>
    <div class="button-container">
        <button class="button category -primary pull-right hide" id="category-button">Categories</button>
    </div>
    <div class="button-placement-container -pull-down">        
        <div class="button-container">   
            <button class="checkout-button button -primary -full-width" {{#unless pendingOrder.products.length}}disabled{{/unless}}>Checkout ({{#if pendingOrder.products.length}}<span class="cart__items">{{pendingOrder.products.length}}</span>{{else}}<span class="cart__items">0</span>{{/if}})</button>
        </div>
    </div>
    <div class="button-placement-container -pull-up">        
        <div class="button-container">           
            <button class="button -secondary -full-width">Login</button>
        </div>
    </div>
</nav>