<nav>
    <ul class="navigation-links pull-left">
        <li><a href="/" class="navigation-link home-link title {{#if active.home}}-active{{/if}}">ORDERFY</a></li>
        <li><a href="/products" class="navigation-link products-link {{#if active.products}}-active{{/if}}">Products</a></li>
        <li><a href="/orders" class="navigation-link orders-link {{#if active.orders}}-active{{/if}}">Orders</a></li>
    </ul>
    <div class="button-container">
        <button class="button category -primary pull-right hide" id="category-button">Categories</button>
    </div>
    <div class="button-placement-container -pull-down">        
        <div class="button-container">   
            <button class="checkout-button button -primary -full-width" {{#unless pendingOrder.products.length}}disabled{{/unless}}>Checkout ({{#if pendingOrder.products.length}}<span class="cart__items">{{pendingOrder.products.length}}</span>{{else}}<span class="cart__items">0</span>{{/if}})</button>
        </div>
    </div>
    <div class="button-placement-container -pull-up">        
        <div class="button-container">           
            <button class="button -secondary -full-width">Login</button>
        </div>
    </div>
</nav>