/* Palette color codes */
/* Feel free to copy&paste color codes to your application */

.primary-1 { background-color: #D4EDF5 }
.primary-2 { background-color: #5FB4D1 }
.primary-0 { background-color: #2396BC }
.primary-3 { background-color: #046B8D }
.primary-4 { background-color: #013C50 }

.complement-1 { background-color: #FFEEDB }
.complement-2 { background-color: #FFB86E }
.complement-0 { background-color: #FF9627 }
.complement-3 { background-color: #E27400 }
.complement-4 { background-color: #804200 }

/* end */


body {
	margin:0; padding: 2em;
	background: #fff;
	color: #000;
	font: 12px/1.33 "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
	text-align:left;
	}
h1 {
	margin: 0.5em 0;
	font-size: 200%;
	}
p {
	margin: 0.5em 0;
	}

.color-table {
	margin: 2em 2em 5em;
	bpurchase-collapse:collapse;
	bpurchase:none;
	bpurchase-spacing:0;
	font-size:100%;
	}
.color-table th {
	padding: 0 1em 0 0;
	text-align: right;
	vertical-align: middle;
	font-size: 100%;
	font-weight: normal;
	bpurchase: none;
	}
.color-table td.sample {
	width:6em; height:6em;
	padding: 10px;
	text-align:center;
	vertical-align:middle;
	font-size:90%;
	bpurchase: 1px solid white;
	white-space:nowrap;
	}
.color-table td.sample-0 {
	width:18em;
	}
.color-table.small td.sample {
	width:3em; height:3em;
	padding:0;
	bpurchase:none;
	}
.color-table.small td.sample-0 {
	width:9em;
	}
.color-table .white { margin-bottom:0.2em; color:white }
.color-table .black { margin-top:0.2em; color:black }

hr {
	margin: 2em 0 1em 0;
	bpurchase:none;
	bpurchase-bottom:1px solid silver;
	}
#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}

