<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CONSTRUCTLY</title>
    
    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link rel="stylesheet" href="/public/fonts/stylesheet.css">
    <link rel="stylesheet" href="/public/vendor/open-sans-fontface/open-sans.css">
    <link rel="stylesheet" href="/public/vendor/font-awesome/css/font-awesome.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body>

    {{{body}}}
    
    <div class="modal-overlay -global hide" data-modal-class=".modal-barcode">
    </div>

    <div class="modal-barcode hide">
        {{> product randomProduct}}    
    </div>
    
    <div class="modal-overlay hide" data-modal-class=".modal-container.categories">
    </div>

    <div class="modal-container categories hide">
        <div class="modal-categories">
            <p>Categories</p>
            <p>Placeholder</p>    
        </div>                
    </div>                

    <div class="modal-overlay hide" data-modal-class=".modal-container.login">
    </div>

    <div class="modal-container login hide">
        <div class="modal-login">
            <div class="input login">
                <label for="login">Login</label>
                <input type="text" id="login"></input>
            </div>
            <div class="input password">
                <label for="password">Password</label>
                <input type="password" id="password"></input>
            </div>
            <div class="button-placement-container -pull-down">
                <div class="button-container">                 
                    <button class="button -full-width submit show-x-small show-small" data-id={{id}}>Confirm</button>
                    <button class="button -half-width -pull-right submit hide-x-small hide-small" data-id={{id}}>Confirm</button>
                </div>
            </div>          
        </div>     
    </div>           

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/public/vendor/jquery/dist/jquery.js"></script>
    <script src="/public/app/components/camera.js"></script>
    <script src="/public/app/components/categories.js"></script>
    <script src="/public/app/components/home.js"></script>
    <script src="/public/app/components/modal.js"></script>
    <script src="/public/app/components/navigation.js"></script>
    <script src="/public/app/components/purchaseCatalog.js"></script>
    <script src="/public/app/components/productCatalog.js"></script>
    <script src="/public/app/app.js"></script>
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>