<header>
    {{> navigation}}
</header>

{{#if pendingOrder.products}}
    <div class='pending-orders'>
        <h2>Orders to be Submitted</h2>
        {{> order pendingOrder}}
    </div>
{{/if}}

<div class='submitted-orders'>
    <h2>Orders to be Approved</h2>
    {{#each submittedOrders}}
        {{> order}}
    {{/each}}    
</div>

<div class='approved-orders'>
    <h2>Approved Orders</h2>
    {{#each approvedOrders}}
        {{> order}}
    {{/each}}    
</div>