<header>
    {{> navigation}}
</header>

<div class='pending-orders'>
    {{#each pendingOrders}}
        {{> order}}
    {{/each}}    
</div>

<div class='submitted-orders'>
    {{#each submittedOrders}}
        {{> order}}
    {{/each}}    
</div>

<div class='approved-orders'>
    {{#each approvedOrders}}
        {{> order}}
    {{/each}}    
</div>