<header>
    {{> navigation}}
</header>

<main class="purchase-page">
    {{#if pendingPurchase.products}}
        <section class="row pending-purchases">
            <h1>To be submitted</h1>
            {{> purchase pendingPurchase}}
        </section>
    {{/if}}
    
    {{#if submittedPurchases.length}}
        <section class="row submitted-purchases">
            <h1>To be approved</h1>
            {{#each submittedPurchases}}
                {{> purchase}}
            {{/each}}    
        </section>
    {{/if}}   
 
    {{#if approvedPurchases.length}}
        <section class="row approved-purchases">
            <h1>Approved</h1>
            {{#each approvedPurchases}}
                {{> purchase}}
            {{/each}}    
        </section>
    {{/if}}
    
</main>
