<header>
    {{> navigation}}
</header>

<div class="purchase-page">

    {{#if pendingPurchase.products}}
        <div class="row pending-purchases">
            <h1>To be Submitted</h1>
            {{> purchase pendingPurchase}}
        </div>
    {{/if}}
    
    {{#if submittedPurchases.length}}
        <div class="row submitted-purchases">
            <h1>To be Approved</h1>
            {{#each submittedPurchases}}
                {{> purchase}}
            {{/each}}    
        </div>
    {{/if}}   
 
    {{#if approvedPurchases.length}}
        <div class="row approved-purchases">
            <h1>Approved</h1>
            {{#each approvedPurchases}}
                {{> purchase}}
            {{/each}}    
        </div>
    {{/if}}
    
</div>
