
$navigation-height: 100px;
$logo-margin-left:0%;
$logo-width: 300px; 
$navigation-button-height: 30px;

nav {
    height: $navigation-height;
    background-color:green;
}

.navigation-links {
    width: calc(100% - #{$logo-width});
    text-align: center;
    display: inline-block;
}

.navigation-links li {
    display: inline;
}

.navigation-links a {
    text-decoration: none; 
    color: black;
    line-height: $navigation-height;
    font-size: 1.6rem;   
    padding: 0 30px;    
}

@media screen and (min-width: #{$screen-sm}) {
    nav {
        background-color:  blue;
    }
}

@media screen and (min-width: #{$screen-md}) {
    nav {
        background-color:  yellow;
    }
}

@media screen and (min-width: #{$screen-lg}) {
    nav {
        background-color:  red;
    }
}