
$navigation-height: 100px;
$navigation-buttons-width: 200px;
$logo-margin-left:0%;
$logo-width: 200px; 
$navigation-button-height: 30px;

nav {
    height: $navigation-height;
    background-color:green;
}

.logo {
    margin-left: $logo-margin-left;
    width: $logo-width;
}

.navigation-links {
    width: calc(100% - #{$navigation-buttons-width} - #{$logo-margin-left} - #{$logo-width});
    text-align: center;
    display: inline-block;
}

.navigation-links li {
    display: inline;
    line-height: $navigation-height;
    padding: 0 30px;
}

.navigation-links a {
    text-decoration: none; 
    color: black;
    font-size: 1.6rem;   
}

.navigation-buttons {
    box-sizing: border-box;
    margin-top: $navigation-height/2 - $navigation-button-height/2;
    width: $navigation-buttons-width;    
}

.navigation-buttons button {
    height: $navigation-button-height;  
    padding: 0 10px; 
    margin: 0 5px; 
}

@media screen and (min-width: #{$screen-sm}) {
    nav {
        background-color:  blue;
    }
}

@media screen and (min-width: #{$screen-md}) {
    nav {
        background-color:  yellow;
    }
}

@media screen and (min-width: #{$screen-lg}) {
    nav {
        background-color:  red;
    }
}