.button {
    height: 2.5rem;
    background-color: inherit;
    cursor: pointer;
    
    // &:hover {
    //     background-color: rgba(0,0,0,0.5);
    //     color: white;
    // }
    
    // &.-pressed {
    //     background-color: rgba(0,0,0,1);
    //     color: white;
        
    //     &:hover {
    //         background-color: rgba(0,0,0,0.5);
    //         color: white;
    //     }        
    // }    
    
    &.-full-width {
        width: 100%;
    }
}

.menu {
    cursor: pointer;
}