.button {
    height: 2.5rem;
    background-color: inherit;
    cursor: pointer;
    
    // &:hover {
    //     background-color: rgba(0,0,0,0.5);
    //     color: white;
    // }
    
    // &.-pressed {
    //     background-color: rgba(0,0,0,1);
    //     color: white;
        
    //     &:hover {
    //         background-color: rgba(0,0,0,0.5);
    //         color: white;
    //     }        
    // }    
    
    &.-quarter-width {
        width: 25%        
    }
    
    &.-half-width {
        width: 50%
    }
    
    &.-full-width {
        width: 100%;
    }
}

.menu {
    cursor: pointer;
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   

}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}