@mixin pulls {
    &.-pull-up {
        top: 0;
    }
    
    &.-pull-right {
        right: 0;                
    }
       
    &.-pull-down {
        bottom: 0;        
    }
    
    &.-pull-left {
        left: 0;
    }
    
    &.-center-horizontal {
        left: 50%;
        transform: translateX(-50%);
    }        
    
    &.-center-vertical {
        top: 50%;
        transform: translateY(-50%);
    }    
    
    &.-center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.button {
    @include label-text;
    height: $button-height;
    outline: none;
    border: none;
    background-color: $color-complement-3;
    color: $color-primary-5;
    cursor: pointer;
    
    &:hover {
        background-color: $color-complement-4;
        color: $color-primary-5;
    }
    
    &:active {
        background-color: $color-complement-2;
        color: $color-primary-5;
    }        
    
    &:disabled {
        background-color: lightgrey;        
        color: #888888;
        cursor: auto;
    }
    
    &.-secondary {
        background-color: $color-complement-2;
        
        &:hover {
            background-color: $color-complement-3;
        }
        
        &:active {
            background-color: $color-complement-1;
        }          
    }
}

.button-placement-container {
    position: absolute;
    width: 100%;
    height: $button-height;
    
    @include pulls;
    
    & .button-container {
        position: relative;
        
        & .button {
            position: absolute;
            
            @include pulls;
                                   
            &.-quarter-width {
                width: 25%        
            }

            &.-half-width {
                width: 50%
            }

            &.-three-quarters {
                width: 75%;
            }

            &.-full-width {
                width: 100%;
            }            
        }
    }   
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   

}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {

}