.categories {
    background-color: $navigation-background-color;
    float: left;    
    width: 100%;
    padding-bottom: 1.5rem;
    
    & h1 {
        text-align: center;
    }
}

.category-header {
    cursor: pointer;
    margin: 0.6rem 0;
}

.category-list li {
    cursor: pointer;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    
    &.-active {
        background-color: $base-background-color;
    }
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {
    .categories {
        width: $logo-width;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;         
    }
}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}