$widget-padding: 1rem;

.widget-container {
    background-color: $color-primary-5;
    padding: $widget-padding;
    position: relative;    
    height: 20rem;
    margin-bottom: 4rem;
      
    & p {
        margin: 1.5rem 0;
    }        
}

@mixin font-awesome-background {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 15rem;   
    opacity: 0.25;    
    left: -3rem;
    bottom: -4rem;
}

.widget {
    background-color: $color-primary-5;
    position: relative;    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;   
    
    
    &.-products:before {
        @include font-awesome-background;
        content: "\f291";
    }    
    
    &.-orders:before {
        @include font-awesome-background;
        left: -1.25rem;
        bottom: -4.5rem;
        content: "\f15c";        
    }
    
    &.-barcode:before {
        @include font-awesome-background;
        content: "\f02a";        
    }
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   

}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}