$widget-padding: 1rem;

.home-page {
    margin-top: $navigation-height + $navigation-spacing;
}

.widget-container {
    background-color: $color-primary-5;
    padding: $widget-padding;
    position: relative;    
    height: 20rem;
    margin-bottom: 4rem;
      
    & p {
        margin: 1.2rem 0;
    }        
}

@mixin font-awesome-background {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 15rem;   
    opacity: 0.25;    
}

.widget {
    background-color: $color-primary-5;
    position: relative;    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;   
    
    
    &.-products:before {
        @include font-awesome-background;
        right: -5rem;
        bottom: -2rem;        
        content: "\f291";
    }    
    
    &.-orders:before {
        @include font-awesome-background;
        right: -2rem;
        bottom: -2rem;
        content: "\f15c";        
    }
    
    &.-barcode:before {
        @include font-awesome-background;
        right: -5rem;
        bottom: -2rem;
        content: "\f02a";        
    }
}

.home-page {
    & small {
        margin-bottom: 2rem;        
    }
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {  
    .widget { 
        &.-products:before,
        &.-barcode:before {
            left: -3rem;
            bottom: -4rem;        
        }    
        
        &.-orders:before {
            left: -1.25rem;
            bottom: -4.5rem;
        }
    }
    
    .home-page {
        & small {
            margin-bottom: 4rem;
        }   
    } 
}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {

}