.-collapsed {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.hidden-xs,
.hidden-xs-inline,
.visible-sm,
.visible-md,
.visible-lg {
    display: none;
}

.visible-xs {
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#content {
    position: relative;
    overflow: auto;
}

@media screen and (min-width: #{$screen-sm}) {
    .visible-xs {
        display: none;
    }

    .hidden-xs,
    .visible-sm {
        display: block;
    }

    .hidden-xs-inline {
        display: inline-block;
    }

    .hidden-sm,
    .hidden-sm-inline {
        display: none;
    }
}

@media screen and (min-width: #{$screen-md}) {
    .hidden-sm,
    .visible-md {
        display: block;
    }
    
    .hidden-sm-inline {
        display: inline-block;
    }
    
    .hidden-md,
    .hidden-md-inline {
        display: none;
    }    
}

@media screen and (min-width: #{$screen-lg}) {
    .hidden-md,
    .visible-lg {
        display: block;
    }

    .hidden-md-inline {
        display: inline-block;
    }
    
    .hidden-lg,
    .hidden-lg-inline {
        display: none;
    }
}