.-collapsed {
    display: none;
}

.hide-x-small,
.hide-x-small-inline,
.show-small,
.show-medium,
.show-large,
.show-x-large {
    display: none;
}

.show-x-small {
    display: block;
}

#content {
    position: relative;
    overflow: auto;
}

@media screen and (min-width: #{$screen-breakpoint-small}) {
    .show-x-small {
        display: none;
    }

    .hide-x-small,
    .show-small {
        display: block;
    }

    .hide-x-small-inline {
        display: inline-block;
    }

    .hide-small,
    .hide-small-inline {
        display: none;
    }
}

@media screen and (min-width: #{$screen-breakpoint-medium}) {
    .show-small {
        display: none;
    }

    .hide-small,
    .show-medium {
        display: block;
    }
    
    .hide-small-inline {
        display: inline-block;
    }
    
    .hide-medium,
    .hide-medium-inline {
        display: none;
    }    
}

@media screen and (min-width: #{$screen-breakpoint-large}) {
    .show-medium {
        display: none;
    }

    .hide-medium,
    .show-large {
        display: block;
    }

    .hide-medium-inline {
        display: inline-block;
    }
    
    .hide-large,
    .hide-large-inline {
        display: none;
    }
}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {
    .show-large {
        display: none;
    }

    .hide-large,
    .show-x-large {
        display: block;
    }

    .hide-large-inline {
        display: inline-block;
    }
    
    .hide-x-large,
    .hide-x-large-inline {
        display: none;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}