$modal-padding: 1rem;

.modal-overlay {
    width: 100%;
    height: 100vh;
    background-color: $color-primary-4;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    
    &.-global {
        z-index: 1;        
    }    
}

.modal-barcode {
    .product-container {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

.modal-barcode {
    transform: translateY(-50%);
    top: 50%;
    width: 50%;
    position: fixed;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 1;
}

.modal-container {
    background-color: $color-primary-5;
    padding: $modal-padding;          
}

.modal-login,
.modal-categories {
    height: 100%;
    width: 100%;
    position: relative;
}

.modal-login {
    & input {
        width: 100%;
        margin-bottom: 0.2rem;  
        box-sizing: border-box;      
    }
    
    & label {
        font-size: 1rem;
        display: inline-block;
        margin-bottom: 0.4rem;        
    }
}

.modal-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%); 
    background-color: $color-primary-5;
    margin: 0 auto;
    right: 0;
    left: 0;    
    
    &.login {
        width: 60vw;
        height: 50vh;                
    }
    
    &.categories {
        width: 50vw;
        height: 25vh;                        
    }
}

@media screen and (min-width: #{$screen-breakpoint-small}) {
    .modal-container {    
        top: 70%;
        &.login {
            height: 60vh;
        }
    }
}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   
    .modal-container {
        top: 50%;
        
        &.login {        
            width: 25vw;
            height: 25vh;
        } 
    }
}

@media screen and (min-width: #{$screen-breakpoint-large}) {
    .modal-container {
        &.login {        
            width: 20vw;
        }
    }
}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {
    .modal-container {
        &.login {        
            width: 15vw;
        }
    }
}