.modal-overlay {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0.4;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-barcode {
  display: none;
  width: 50vw;
  height: 70vh;
  background-color: #fff;
  position: fixed;
  top: 1vh;
  left: 25vw;
}

.modal-barcode_picture {
    width: 80%;
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   

}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {

}