$navigation-height: 100px;

$utility-navigation-width: 250px;

nav {
    background-color: $navigation-background-color;
    height: $navigation-height;
    
    .button, .menu {
        @include vertical-align();        
    }
    
    .menu {
        margin-right: 5%;
    }
    
    .button {
        margin-right: 10px;
    }
}

.logo {
    cursor: pointer;
}

.navigation-links {
    width: calc(100% - #{$logo-width});
    text-align: center;
    display: inline-block;
}

.navigation-links li {
    display: inline;
}

.navigation-links a {
    text-decoration: none; 
    color: rgba(0, 0, 0, 1);
    line-height: $navigation-height;
    font-size: 1.4rem;   
    padding: 0 30px;    
    
    &:hover {
        color: rgba(255, 255, 255, 0.5);
    }
}

.simple-navigation {
    height: $navigation-height;
}

.utility-navigation {
    height: $navigation-height;
    width: $utility-navigation-width;
    display: inline-block;
}

@media screen and (min-width: #{$screen-sm}) {
}

@media screen and (min-width: #{$screen-md}) {
    .navigation-links {
        width: calc(100% - #{$logo-width} - #{$utility-navigation-width});
    }
}

@media screen and (min-width: #{$screen-lg}) {
}