@mixin link-positioning($active-width, $inactive-width) {
    &.home-link {
        width: $inactive-width;
        
        &.-active {
            width: $active-width;
        }
    }  

    &.products-link {
        width: $inactive-width;
        left: $inactive-width;
            
        &.-active {
            width: $active-width;                    
        }        
        
        &.-home {
            left: $active-width;
        }    
    }

    &.orders-link {
        left: $active-width + $inactive-width;
        width: $inactive-width;
        
        &.-active {
            left: $inactive-width * 2;
            width: $active-width;
        }           
    }   
    
    nav {
        .button-placement-container {
            @if $inactive-width == 33.33333% {
                width: $inactive-width;
            }
            @else {
                width: 100% - $active-width - 2*$inactive-width;                
            }
        }           
    }  
}

nav {
    background-color: $color-primary-4;
    height: $navigation-height;
    position: relative;
      
    .menu {
        margin-right: 5%;
    }
     
    .button-placement-container {
        height: $navigation-height/2;   
        right: 0;
    }     
       
    .button {
        height: $navigation-height/2;    
    }   
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart__items-container {
    position: absolute;
    top: -5px;
    right: -7.5px;
    background: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.cart__items {
    line-height: 20px;
    text-align: center;
}

.logo {
    cursor: pointer;
}

.navigation-links {
    display: inline-block;
}

.navigation-link {
    display: inline-block;
    position: absolute;
    height: 100%;

    line-height: $navigation-height;
    font-size: 0.8rem;   

    background-color: $color-primary-3;
    color: inherit;
    text-align: center;
    text-decoration: none; 
    font-family: 'walkway_boldregular', 'Open Sans', Helvetica, Arial, sans-serif;
       
    &:hover {
        background-color: $color-primary-4;
    }   
    
    &.-active {
        background-color: $color-primary-4;      
        font-size: 1.0rem;          
    }        
    
    &.-inactive {
        height: 50%;
        line-height: $navigation-height/2;        
        margin-top: $navigation-height/2;        
    }
}

@include link-positioning(33.33333%, 33.33333%);

.simple-navigation {
    height: $navigation-height;
}

@media screen and (min-width: #{$screen-breakpoint-small}) {
    @include link-positioning(30%, 20%);

    .navigation-link {
        font-size: 0.9rem;          
        
        &.-inactive {
            height: 100%;
            line-height: $navigation-height;   
            margin-top: 0;     
        }        
        
        &.-active {
            font-size: 1.6rem;   
        }
    }     
}

@media screen and (min-width: #{$screen-breakpoint-medium}) {
    .navigation-link {
        font-size: 1.4rem;
        
        &.-active {
            font-size: 2rem;   
        }
    }
}

@media screen and (min-width: #{$screen-breakpoint-large}) {
    @include link-positioning(40%, 20%);
}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {

}