.productCatalog {
    background-color: $base-background-color;
    width: 100%;
    float: right;
}

.products {
    &:after {
        clear: both;
        display: block;
        content: "";
    }    
}

.product-container {
    background-color: $product-background-color;
    height: 600px;
    margin: 2% 0 0 2%;
    width: 96%; /** (100 - (columns + 1)*margin-left) / columns, columns = 1 **/
    overflow: hidden;
    float: left;    
    transition: background-color 0.5s;
    
    &:hover {
        background-color: white;
    }
}

.product {
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    position: relative;
    padding: 0.5rem;
}

.product__image {
    max-width: 100%;
    height: auto;
}

.product__stock {
    color: limegreen;
    
    &.-warning {
        color: orange;
    }
    
    &.-alert {
        color: darkred;
    }
}

.product__button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $product-background-color;
    color: white;
    height: 50px;
    line-height: 50px;    
    cursor: pointer;
    
    &.-action {
        margin-left: 15%;
        width: 85%;    
        background-color: mediumseagreen;
    }
    
    &.-option {
        width: 15%;            
    }    
    
    &.-undo {
        width: 100%;    
        background-color: dimgray;
    }       
}

.product__description {
    padding: 0.25rem 0;
    font-size: 0.8rem;
}

.product__price {
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.pagination {
    display: block;
    text-align: center;
    
    & li {
        display: inline;
    }
    
    &.-top {
        margin-top: 2%;        
    }
    
    &.-bottom {
        margin: 2% 0;
    }
}

@media screen and (min-width: 480px) {
    .product-container {
        width: 47%; /** (100 - (columns + 1)*margin-left) / columns, columns = 2 **/
    }
}

@media screen and (min-width: #{$screen-md}) {
    .product-container {
        width: 30.66666666666667%; /** (100 - (columns + 1)*margin-left) / columns, columns = 3 **/
    }    
    
    .productCatalog {
        width: calc(100% - #{$logo-width});        
    }
}


@media screen and (min-width: #{$screen-lg}) {
    .product-container {
        width: 22.5%; /** (100 - (columns + 1)*margin-left) / columns, columns = 4 **/
    }
}