$product-padding: 0.2rem;

.product-page {
    margin-top: $navigation-height + $navigation-spacing;   
}

.products {
    clear: both;
    overflow: hidden;
}

.product-container {
    background-color: $color-primary-5;
    padding: $product-padding;    
    margin-bottom: 2%;        
}

.product {
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    position: relative;
    padding-bottom: $button-height;
}

.product__image {
    max-width: 100%;
    height: auto;
}

.product_description {
    margin-bottom: 0.5rem;
}

.product__stock {
    color: #55cc55;
    
    &.-warning {
        color: #eeaa55;
    }
    
    &.-alert {
        color: #ee5555;
    }
}

.product__price {
    margin: 0.5rem 0;
    line-height: 1.3rem;
    font-size: 1.3rem;
}

.quantity-container {
    position: absolute;
    right: 0;
    bottom: $button-height + $product-padding;
    
    & label {
        @include label-text;
        padding-right: $product-padding/2;
    }

    & select {
        cursor: pointer;
        height: $button-height;
        width: 2rem;
    }    
}

.pagination {
    display: block;
    text-align: center;
    margin-bottom: 2%;        
    
    & li {
        display: inline;
    }
    
    & a {
        background-color: $color-primary-5;                    
        text-decoration: none;
        display: inline-block;
        height: $button-height;
        width: $button-height;
        line-height: $button-height;        
        color: $color-complement-1;  
        margin: 0.5rem;     
        font-size: 1.5rem;
        
        &:hover {
            background-color: $color-primary-3;                                
        }
        
        &.-active {
            background-color: $color-primary-3;                    
        } 
    }
}

@media screen and (min-width: #{$screen-breakpoint-small}) {
    .product-page {
        margin-bottom: 0;        
    }
    
    .quantity-container {
        & select {
            width: $button-height;
        }        
    }
}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   

}


@media screen and (min-width: #{$screen-breakpoint-large}) {

}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {

}