$barcode-scanner-height: 4.4rem;
$product-padding: 1rem;

.product-page {
    width: 100%;
    float: right;
    margin-bottom: $barcode-scanner-height;    
}

.products {
    &:after {
        clear: both;
        display: block;
        content: "";
    }    
}

.product-container {
    background-color: $color-primary-5;
    padding: $product-padding;    
    margin-bottom: 2%;    
    
    .modal-barcode & {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

.product {
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    position: relative;
    padding-bottom: $button-height;
}

.product__image {
    max-width: 100%;
    height: auto;
}

.product__stock {
    color: limegreen;
    
    &.-warning {
        color: orange;
    }
    
    &.-alert {
        color: darkred;
    }
}

.product__description {
    padding: 0.25rem 0;
    font-size: 0.8rem;
}

.product__price {
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.pagination {
    display: block;
    text-align: center;
    
    & li {
        display: inline;
    }
    
    &.-top {
        margin-top: 2%;        
    }
    
    &.-bottom {
        margin: 2% 0;
    }
}

.barcode-scanner__input {
    display: none;
}

.barcode-scanner__close-button,
.barcode-scanner__label {
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $barcode-scanner-height;
    line-height: $barcode-scanner-height;
    color: white;
}

.barcode-scanner__close-button {
    background-color: red;
}

.barcode-scanner__label {
    background-color: blue;    
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: #{$screen-breakpoint-small}) {
    .product-page {
        margin-bottom: 0;        
    }
}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   
    .product-page {
        width: calc(100% - #{$logo-width});        
    }
}


@media screen and (min-width: #{$screen-breakpoint-large}) {

}