$purchase-padding: 1rem;



.purchase-page {
    margin-top: $navigation-height + $navigation-spacing;
      
}

.purchase-container {
    background-color: $color-primary-5;
    padding: $purchase-padding;    
    margin-bottom: 2%;        
}

.purchase {
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    position: relative;
    padding-bottom: $button-height;
    
    .products-section {
        padding-bottom: $purchase-padding;
    }
    
    &.-approved {
        padding-bottom: $purchase-padding;        
    }
}

.purchase__product {
    height: $button-height;

    &.-pending {
        padding-bottom: $purchase-padding;         
    }
       
    p {
        font-size: 1.2rem;
    }
    
    button {
        width: $button-height;
        vertical-align: middle;
    }
    
    input {
        width: $button-height;
        height: $button-height;     
        box-sizing: border-box;
        vertical-align: middle;   
    }
}

.purchase__product-amount {
    float: right;
}

.purchase__product-details {
    font-size: 1.4rem;
    line-height: 3rem;
    vertical-align: middle;    
}

.purchase__product-amount {
    display: inline-block;
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   

}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {

}