$purchase-padding: 1rem;



.purchase-page {
    margin-top: $navigation-height + $navigation-spacing;
      
}

.purchase-container {
    background-color: $color-primary-5;
    padding: $purchase-padding;    
    margin-bottom: 2%;        
}

.purchase-section {
    padding-bottom: $purchase-padding;
}

.purchase {
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    position: relative;
    padding-bottom: $button-height;
    
    &.-approved {
        padding-bottom: $purchase-padding;        
    }
}
.purchase__products {
    width: 100%;
}

.purchase__product {
    height: $button-height;

       
    p {
        font-size: 1.2rem;
    }
    
    button {
        width: $button-height;
        vertical-align: middle;
    }
    
    input {
        width: $button-height;
        height: $button-height;     
        box-sizing: border-box;
        vertical-align: middle;   
        border-radius: 0;
        border: none;
        text-align: center;
    }
}

.purchase__product-amount {
    float: right;
}

.purchase__product-details {
    line-height: $button-height;
    font-size: 0.9rem;
    vertical-align: middle; 
    
    &.-heading {
        font-size: 1.4rem;        
    }
    
    &.-align-left {
        text-align: left;
    }
    
    &.-align-right {
        text-align: right;
    } 
    
    .purchase__product.-pending & {
        padding-bottom: $purchase-padding;         
    }                 
}

.purchase__product-amount {
    display: inline-block;
}

@media screen and (min-width: #{$screen-breakpoint-small}) {

}

@media screen and (min-width: #{$screen-breakpoint-medium}) {   

}

@media screen and (min-width: #{$screen-breakpoint-large}) {

}

@media screen and (min-width: #{$screen-breakpoint-x-large}) {

}