/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Helvetica, Arial, sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  text-align: center;
  margin: 30px 0 10px;
  font-size: 1.6rem; }

nav {
  background-color: #afafaf;
  height: 100px; }
  nav .button, nav .menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  nav .menu {
    margin-right: 5%; }
  nav .button {
    margin-right: 10px; }

.logo {
  cursor: pointer; }

.navigation-links {
  width: calc(100% - 300px);
  text-align: center;
  display: inline-block; }

.navigation-links li {
  display: inline; }

.navigation-links a {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  color: black;
  line-height: 100px;
  font-size: 1.4rem;
  padding: 0 30px; }
  .navigation-links a:hover {
    color: rgba(255, 255, 255, 0.5); }
  .navigation-links a.-current {
    background-color: #969696; }

.simple-navigation {
  height: 100px; }

.utility-navigation {
  height: 100px;
  width: 250px;
  display: inline-block; }

@media screen and (min-width: 992px) {
  .navigation-links {
    width: calc(100% - 300px - 250px); } }

.categories {
  background-color: #afafaf;
  float: left;
  width: 100%;
  padding-bottom: 1.5rem; }
  .categories h1 {
    text-align: center; }

.category-header {
  cursor: pointer;
  margin: 0.6rem 0; }

.category-list li {
  cursor: pointer;
  padding: 0.2rem 0;
  margin: 0.2rem 0; }
  .category-list li.-active {
    background-color: #969696; }

@media screen and (min-width: 992px) {
  .categories {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; } }

.products {
  background-color: #969696;
  width: 100%;
  float: right; }

.product {
  background-color: gray;
  height: 400px;
  margin: 2% 0 0 2%;
  width: 96%;
  /** (100 - (columns + 1)*margin-left) / columns, columns = 1 **/
  overflow: hidden;
  position: relative;
  text-align: center;
  float: left; }

.product__image {
  max-width: 100%;
  height: auto; }

.product__description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  color: white;
  height: 50px;
  line-height: 50px; }

@media screen and (min-width: 480px) {
  .product {
    width: 47%;
    /** (100 - (columns + 1)*margin-left) / columns, columns = 2 **/ } }

@media screen and (min-width: 992px) {
  .product {
    width: 30.66666666666667%;
    /** (100 - (columns + 1)*margin-left) / columns, columns = 3 **/ }
  .products {
    width: calc(100% - 300px); } }

@media screen and (min-width: 1201px) {
  .product {
    width: 22.5%;
    /** (100 - (columns + 1)*margin-left) / columns, columns = 4 **/ } }

.button {
  height: 2.5rem;
  padding: 0 1.5rem;
  background-color: inherit;
  border: 1px solid black;
  cursor: pointer; }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
  .button.-pressed {
    background-color: black;
    color: white; }
    .button.-pressed:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: white; }

.menu {
  cursor: pointer; }

.-collapsed {
  display: none; }

.hidden-xs,
.hidden-xs-inline,
.visible-sm,
.visible-md,
.visible-lg {
  display: none; }

.visible-xs {
  display: block; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

#content {
  position: relative;
  overflow: auto; }

@media screen and (min-width: 768px) {
  .visible-xs {
    display: none; }
  .hidden-xs,
  .visible-sm {
    display: block; }
  .hidden-xs-inline {
    display: inline-block; }
  .hidden-sm,
  .hidden-sm-inline {
    display: none; } }

@media screen and (min-width: 992px) {
  .hidden-sm,
  .visible-md {
    display: block; }
  .hidden-sm-inline {
    display: inline-block; }
  .hidden-md,
  .hidden-md-inline {
    display: none; } }

@media screen and (min-width: 1201px) {
  .hidden-md,
  .visible-lg {
    display: block; }
  .hidden-md-inline {
    display: inline-block; }
  .hidden-lg,
  .hidden-lg-inline {
    display: none; } }
