body {
    background-color: $color-primary-4;
}

@mixin label-text {
    font-size: 1.4em;
    font-weight: 600;    
}

.title {
    font-family: 'walkway_boldregular', 'Open Sans', Helvetica, Arial, sans-serif;
}