@mixin vertical-align() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin font-awesome-background {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 15rem;   
    opacity: 0.1;    
}

//disable input focus on mobile
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}