@mixin vertical-align() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//disable input focus on mobile
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}