$screen-breakpoint-small: 768px;
$screen-breakpoint-medium: 992px;
$screen-breakpoint-large: 1200px;

$logo-width: 300px;

$navigation-background-color: rgb(175,175,175);
$base-background-color: rgb(150,150,150);
$product-background-color: gray;