$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1201px;

$logo-width: 300px;

$navigation-background-color: rgb(175,175,175);
$base-background-color: rgb(150,150,150);
$product-background-color: gray;
